body {
    position: relative;
    font-family: "Roboto", serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    color: #33363D;
}
a{
    text-decoration: none;
    color: #33363D;
}
p {
    font-size: 15px;
    margin: 0;
}

/*--- login ---*/
.login-bg{
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
}
.login-bg::after{
    content: "";
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, 0.7);
}
.login-bg-inner{
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: 50% 50%;
    background: rgb(36, 35, 35);
}

main{
    position: relative;
    z-index: 10000;
    min-height: 100vh;
}
main::after{
    content: "";
    position: absolute;
    height: 100%;
    top: 0;
    right: -15%;
    width: 50%;
    z-index: 0;
    clip-path: circle(70% at 80% 50%);
    background-color: #ffffff;
    background-image: url(../images/layers.png);
    
}
.wrapper{
    padding: 40px 0px 80px 120px;
    width: 85%;
    height: auto;
}
.main-inner{
    position: relative;
    height: 100%;
}
.logo{
    display: flex;
    align-items: center;
    height: auto;
    position: relative;
    z-index: 1;
}
.logo-icon{
    width: auto;
}
.logo-icon img{
    width: 100%;
}


.side-text{
    position: relative;
    top:35%;
    left: 0;
    width: 68%;
} 
.side-text *{
    margin: 0;
}
.main-heading{
    font-size:52px;
    color: #ffffff;
    text-transform: capitalize;
    font-weight: 800;
    line-height: 1.5;
    margin-bottom: 10px;
}
.side-text p{
    font-size: 20px;
    color: #ffffff;
    line-height: 32px;
    font-weight: 500;
}

.logSign{
    display: flex;
    width: 80%;
    height: auto;
    border: solid 1px #ffffff;
    border-radius: 12px;
    overflow: hidden;
    margin-top: 100px;
}
.logSign button{
    background-color: transparent;
    min-width: 50%;
    height: 54px;
    border: 0;
    transition: 0.4s;
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
    position: relative;
    cursor: pointer;
    z-index: 1;
}
.logSign button.active{
    color: #33363D;
}
.logSign button.active:before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    color: #33363D;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.form{
    border-radius: 12px;
    background-color: #ffffff;
    box-shadow: 0px 0px 60px 0px rgba(94, 92, 154, 0.12);
    margin-left: auto;
    margin-top: 100px;
    min-height: 400px;
    padding: 50px;
    width: 75%;
    position: relative;
    z-index: 100000;
}

.form-title{
  font-size: 26px;
  color: #33363D;
  font-weight: bold;
  text-align: center;
  margin-bottom: 60px;
}
.input-field{
    margin-bottom: 30px;
    transition: 0.4s;
    position: relative;
    display: grid;
    align-items: center;
    width: 100%;
    height: 52px;
    min-height: 52px;
    background-color: #ffffff;
}
.input-field input,
.input-field select{
    border: solid 1px rgb(222, 222, 234);
    border-radius: 12px;
    width: 100%;
    transition: 0.4s;
    height: 100%;
    padding-left: 20px;
    font-size: 16px;
    color:#33363D;
    font-weight: 500;

}
.input-field input:focus,
.input-field select:focus{
    outline: 0;
    border-color: #2AB805;
}
.input-field label{
    font-size: 16px;
    color: rgb(49, 49, 54, 0.6);
    position: absolute;
    left: 17px;
    transition: 0.4s;
    pointer-events: none;
    width: max-content;
    padding: 0 3px;
    background-color: #ffffff;
}
.input-field:focus-within label{
    transform: translatey(-24px);
    font-size: 15px !important;

}
.input-field input:valid+label,
.input-field select:valid+label{
    transform: translatey(-24px);
    font-size: 15px;
}
.input-field input:invalid+label
.input-field select:valid+label{
    font-size: 16px;
    font-weight: 400;
}

.forget{
    font-size: 15px;
    color: rgb(49, 49, 54, 0.6);
    font-weight: 500;
    text-decoration: none;
    margin-bottom: 30px;
}
.forget:hover{
    color: #2AB805;
}
.login-btn button{
    border-radius: 12px;
    background-color: #2AB805;
    width: 100%;
    transition: 0.4s;
    height: 54px;
    font-size: 20px;
    border: 0;
    position: relative;
    color: #ffffff;
    font-weight: bold;    
    overflow: hidden;
}

.login-btn button::before{
    content: "GO!";
    font-size: 20px;
    font-weight: bold;
    background-color: #33363D;
    color: #ffffff;
    line-height: 54px;
    display: block;
    transition: 0.4s;
    height: 100%;
    position: absolute;
    top: 0;
    left: -65px;
    width: 65px;
}
.login-btn button:hover::before{
    left: 0;
}
.login-btn button:hover{
    padding-left: 65px;
}

main .signup-form {
    display: none;
}

.mt-5{
    margin-top: 50px;
}


/*L-desktop*/
@media (min-device-width:  1600px){

}

/*L-laptops*/
@media(max-width: 1440px){
    .wrapper{
        padding:120px 0px 60px 60px;
        width: 90%;
    }
    .form{
        width: 80%;
        padding: 30px;
    }
    .side-text{
        width: 90%;
    }
    main::after {
        clip-path: circle(65% at 88% 50%);
    }
    .form-title {
        margin-bottom: 30px;
    }
    .input-field {
        margin-bottom: 25px;
        height: 48px;
        min-height: 48px;
    }
}

/*laptops/tablets*/
@media(max-width: 1024px){
    .wrapper{
        padding: 20px 0px 60px 60px;
    }
    .form{
        width: 95%;
    }
    .side-text{
        width: 95%;
        top: 25%;
    }
    .logSign {
        margin-top: 80px;
    }
    .form{
        padding: 30px;
    }
    .form-title{
        margin-bottom: 32px;
    }
    .input-field{
        margin-bottom: 20px;
    }
    .login-btn button{
        margin-bottom: 0;
    }
    .logSign button {
        height: 48px;
        font-size: 18px;
    }
    .main-heading{
        font-size: 32px;
    }
    .side-text p{
        font-size: 16px;
    }
    .step-bar-inner{
        width: 50%;
    }
}


/*tablets*/
@media(max-width: 768px){
    .tab-50{
        width: 50%;
    }
    .tab-100{
        width: 100%;
    }
    .form{
        margin: 0 auto;
        margin-top: 50px;
    }
    .side-text{
        position: relative;
        width: 100%;
        margin: 0 auto;
    }
    .order_2{
        order: 2;
    }
    .wrapper{
        width: 100%;
        padding-right: 60px;
    }
    main::after{
        display: none;
    }
    .main-inner{
        margin-top: 50px;
    }
    .logSign{
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000000;
        margin-top: 0;
        border-radius: 0;
    }
}


/*Smart phone*/
@media(max-width: 576px){
    .logo{
        margin: 75px 20px 20px 20px;
    }
    .form{
        min-height: 330px;
        width: 90%;
        padding: 20px;
        margin-top: 0;
    }
    .login-btn button {
        height: 42px;
        font-size: 16px;
    }
    .input-field input,
    .input-field select {
        border-radius: 8px;
        font-size: 14px;
        padding: 5px;
    }
    .input-field label {
        font-size: 14px;
        left: 10px;
    }
    .gap-4 {
        gap: 1.1rem !important;
    }
    .form-title {
        margin-bottom: 20px;
        font-size: 20px;
    }
    .input-field {
        height: 42px;
        min-height: 42px;
    }
    .side-text{
        position: relative;
        top: 0;
        width: 100%;
        padding: 20px;
        margin: 0 auto;
    }
    .order_2{
        order: 2;
    }
    .wrapper{
        width: 100%;
        padding: 0;
    }
    main::after{
        display: none;
    }
    .main-inner{
        margin-top: 50px;
    }
    .logSign{
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000000;
        margin-top: 0;
        border-radius: 0;
    }
    .side-text span{
        font-size: 18px;
    }
    .side-text .main-heading{
        font-size: 32px;
    }
    .side-text p{
        font-size: 15px;
    }
}

