<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web.extensions>
		<scripting>
			<webServices>
				<jsonSerialization maxJsonLength="86753090" />
			</webServices>
		</scripting>
	</system.web.extensions>
	<connectionStrings>
		<add name="connectionString" connectionString="Data Source=DESKTOP-SDET436\SQLEXPRESS; initial catalog=SayyarahCar-21-Nov-2025;Integrated Security=True;" providerName="System.Data.SqlClient" />
		<!--<add name="connectionString" connectionString="Data Source=BIZUPON\SQLEXPRESS;Initial Catalog=SayyarahCars;Persist Security Info=True;User ID=sa;Password=." providerName="System.Data.SqlClient" />-->
	</connectionStrings>
	<appSettings>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />

		<add key="smtpUser" value="99bizupon@gmail.com" />
		<!--<add key="smtppwd" value="L@RvrSmD22!"/>-->
		<add key="smtppwd" value="cced ixsu csic ioyq" />
		<add key="smtpPort" value="587" />
		<add key="smtpAddress" value="smtp.gmail.com" />
		<add key="EnableSsl" value="true" />

		<add key="IconsPath" value="/Uploads/Icons" />
		<add key="DealerRegistration" value="/Uploads/DealerDocument" />
		<add key="SellerDoc" value="~/Uploads/SellerDocument" />
		<add key="CarImageUploadPath" value="/Uploads/CarImages" />
		<add key="ImagePath" value="/Uploads/Images" />
		<add key="FuzokuhinIcon" value="/Uploads/FuzokuhinIcon" />
	</appSettings>
	<system.web>
		<sessionState timeout="5400" cookieless="false" />
		<httpRuntime maxRequestLength="9048576" targetFramework="4.8" />
		<globalization culture="en-GB" uiCulture="en-GB" />
		<customErrors mode="Off" defaultRedirect="error.aspx" redirectMode="ResponseRewrite">
			<error statusCode="500" redirect="error.aspx" />
			<error statusCode="400" redirect="error.aspx" />
			<error statusCode="404" redirect="error.aspx" />
			<error statusCode="403" redirect="error.aspx" />
		</customErrors>
		<compilation debug="true" targetFramework="4.8" />
		<pages>
			<controls>
				<add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
			</controls>
		</pages>
	</system.web>
	<location path="Captcha.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<system.webServer>
		<httpErrors errorMode="Custom">
			<remove statusCode="404" subStatusCode="-1" />
			<error statusCode="404" path="error.aspx" responseMode="ExecuteURL" />
			<remove statusCode="403" subStatusCode="-1" />
			<error statusCode="403" path="error.aspx" responseMode="ExecuteURL" />
			<remove statusCode="500" subStatusCode="-1" />
			<error statusCode="500" path="error.aspx" responseMode="ExecuteURL" />
		</httpErrors>
		<defaultDocument>
			<files>
				<add value="/index" />
			</files>
		</defaultDocument>
		<directoryBrowse enabled="true" />
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.DependencyInjection" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>